<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Deep and Meaningful</title>

        <style>
            a, h1, h4, div, p, hr {
                padding-left: 0.5cm;
                padding-right: 0.5cm;
            }
        </style>


        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    <body>
        <h1>Deep and Meaningful</h1>
        <hr>
        <div id="Deep and Meaningful">
            <p>It's late in the evening and I'm getting tired so instead of actually writing out this webpage I'm going to shamelessly ship you off for 
                someone else to deal with :P :). 

                Also, ignore the somewhat akwardness inducing name "36 Questions that lead to Love". They were designed by scientists to be used by anybody 
                WITH anybody. The name they are most known by was created by the media who latched onto a humorously meant footnote joking that his lab
                assistants had done the set and got married a year later. 
            </p>
            <a href="http://36questionsinlove.com/">36 Questions</a>
        </div>
        <hr>
        <a href="{% url 'index' %}">Back</a>


        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    </body>
</html>