<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Easy and Fun</title>

        <style>
            a, h1, h4, div, p, hr {
                padding-left: 0.5cm;
                padding-right: 0.5cm;
            }
        </style>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    <body>
        <h1>Easy and Fun</h1>
        <hr>
        <div id="Easy and Fun">
            <p>The button below will select and display 3 of a set of 350 questions. I haven't vetted them so if there's anything NSFW a) don't blame me 
                and b) enjoy :P. A quick skim through makes clear that some are of higher quality than others, so pick whichever you actually find 
                entertaining. 
            </p>
            <hr>
            <form method="POST">
                {% csrf_token %}
                <input type="submit" value="Drum roll...">
            </form>
            <hr>
            {% if questions %}
                <ol>
                    {% for question in questions %}
                        <li><h4>{{ question }}</h4></li>
                    {% endfor %}
                </ol>
            {% endif %}
        </div>
        <hr>
        <a href="{% url 'index' %}">Back</a>


        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    </body>
</html>